@using EntityLayer.Concrete
@model List<Pruduct>

@{
    ViewData["Title"] = "Kategorili";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@await Component.InvokeAsync("CategoryList")

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">SEÇTİĞİNİZ KATEGORİDEKİ ÜRÜNLER</h3>
        <div class="inner-sec">
            <!--left-->
            <div class="left-blog-info-w3layouts-agileits text-left">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 card">
                            <a href="single.html">
                                <img src="@item.ProductImage" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-list-alt"></i> @item.Category.CategoryName
                                            <i class="fa fa-eye"></i> @item.ProductThumbnailImage
                                            <i class="fa fa-eye"></i> @item.Marka
                                        </a>
                                    </li>

                                </ul>
                                <h5 class="card-title">
                                    <a href="/ProductC/ProductReadAll/@item.ProductID/">@item.ProductTitle</a>
                                </h5>
                                <p class="card-text mb-3">@item.ProductContent</p>
                                <a href="/ProductC/ProductReadAll/@item.ProductID/" class="btn btn-primary read-m">@item.ProductPrice <i class="fas fa-lira-sign"></i>></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>