@using EntityLayer.Concrete
@model List<Pruduct>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>

    <div id="wrapper">

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                @foreach(var item in Model){
                <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                            <a href="#">
                                <img src="@item.ProductImage" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="product-desc">
                                <span class="product-price">
                                    @item.ProductPrice ₺
                                </span>
                                <small class="text-muted">@item.Category.CategoryName</small>
                                <a href="#" class="product-name"> @item.ProductTitle</a>



                                <div class="small m-t-xs">
                                    @item.ProductContent
                                </div>
                                <div class="m-t text-righ">

                                    <a href="/ProductC/Index" class="btn btn-xs btn-outline btn-primary">Detaylar <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>}
            </div>
        </div>
    </div>



    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

</body>

</html>


